@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background-color: black;
  overscroll-behavior: none;
  -webkit-tap-highlight-color: transparent;
}

/* Hide Scrollbar */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none; 
    scrollbar-width: none;  
}

.animate-spin-slow {
  animation: spin 3s linear infinite;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
